@media (min-width: 1200px) and (max-width: 1443px) {

    .main-img video {
        width: 70%;
    }

    .small-laptop {

        top: 42%;
        right: 0px;
        animation: none;
    }

    .small-laptop img {
        width: 310px;
    }

    .side-menu img {
        height: 402px;
    }

    .main-img img {
        width: 79%;
    }

    @keyframes widthAnimate {
        0% {
            width: 125px;
            left: 225px;
        }

        50% {
            width: 0px;
            left: 225px;
        }

        100% {
            width: 125px;
            left: 225px;
        }
    }

    .side-menu {
        width: 125px;
        position: absolute;
        top: 43px;
        left: 225px;
        animation: none;
        animation: 5s ease 0s normal none running widthAnimate;
    }

    .sec-heading h1 {
        font-size: 38px;
    }

    .video-container video {
        height: 274px;
        position: absolute;
        left: 166px;
        top: 65px;
        width: 816px;
    }

    .sec-heading p {
        font-size: 20px;
    }

    .pricing-heading h1 {

        font-size: 32px;
    }

}

@media screen and (max-width: 1600px) {
    .main-img video {
        width: 80%;
    }

    .main-img img {
        width: 80%;
        margin-bottom: 10px;
    }

    .small-laptop img {
        width: 290px;
    }

    .small-laptop {
        position: absolute;
        top: 52%;
        right: -46px;
        animation-name: positionAnimate;
        animation-duration: 4s;
    }

    @keyframes positionAnimate {
        0% {
            top: 52%;
            right: -46px;
        }

        25% {
            top: 52%;
            right: -66px;
        }

        50% {
            top: 48%;
            right: -66px;
        }

        75% {
            top: 48%;
            right: -46px;
        }

        100% {
            top: 52%;
            right: -46px;
        }
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    img.bigImg {
        width: 100%;
    }

    .request-trial-form {
        padding: 20px 30px 20px 50px;
        width: 100%;
        margin: 0px auto;
    }

    section.Hero {

        height: 100%;
    }

    .side-menu {
        animation: none;
    }

    .small-laptop img {
        width: 300px;
    }

    .team {
        padding: 0;
    }

    .sec-heading p {
        width: 800px;
        font-size: 16px;
        padding-top: 20px;
    }

    .sec-heading h1 {
        font-size: 28px;
        padding: 0;
    }

    .application-section {
        /* display: none; */
    }

    .main-menu ul li a {
        padding: 12px 8px;
        font-size: 16px;
        border-radius: 20px;
    }

    .main-menu ul li {
        margin: 0px;
    }

    .pricing-card {
        width: 300px;
        height: 450px;
    }

    .pricing-card.p-card-3,
    .pricing-card.p-card-1 {
        height: 415px;
    }

    .pricing-heading h1 {
        font-size: 28px;
    }

    .pricing-heading h4 {
        margin: 30px 0px;
        font-size: 18px;
    }

    .customer-optimize-content h2 {
        font-size: 24px;
    }

    .customer-optimize-content h4 {
        font-size: 18px;
        margin: 10px 0px;
    }

    .header-area.transparent-header {
        padding-bottom: 20px;
    }

    .social-icons i {
        margin-bottom: 10px;
    }

    .choose-item {
        /* height: 270px; */
    }

    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 200px;
    }

    .also-like-container {
        flex-direction: column;
    }

    .also-like-container img {
        width: 80%;
        height: 300px;
        margin: 10px auto;
    }

    .left-info {
        padding: 20px 30px;
    }

    .small-laptop {
        position: absolute;
        top: 42%;
        right: 30px;
        animation: none;
    }

    .common-btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    button.brochure-btn {
        font-size: 16px;
        padding: 10px 20px;

    }

    @keyframes positionAnimate {
        0% {
            top: 40%;
            right: 180px;
        }

        25% {
            top: 40%;
            right: 160px;
        }

        50% {
            top: 48%;
            right: 160px;
        }

        75% {
            top: 48%;
            right: 180px;
        }

        100% {
            top: 40%;
            right: 180px;
        }
    }

    .info p {
        font-size: 16px;
    }

    .left-info h3 {
        font-size: 22px;
    }

    section.Hero {
        padding-top: 64px;
    }

    section.info.overflow-hidden {
        padding: 0;
    }

    .side-menu {
        width: 120px;
        position: absolute;
        top: 45.5px;
        left: 110px;
    }

    .side-menu img {
        height: 420px;
    }

    .customer-stories {
        padding-top: 0px;
    }

    .mean-container a.meanmenu-reveal {
        margin-top: 0px;
    }

    .request-trial-form form {
        width: 100%;

    }
    .brand img {
        width: 150px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .small-laptop {
        animation: 0s ease 0s 1 normal none running none;
        top: 40%;
        right: -30px;
    }

    .white-papers h1,
    .media-links h1,
    .events-links h1 {
        font-size: 24px;
        color: rgb(255, 255, 255);
    }

    .small-laptop {
        display: none;
    }

    /* .request-content-2 {
        display: flex;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
        width: 100%;
    } */

    li.mean-last i {
        margin-left: 20px;
    }

    .main-form-header {
        width: 100%;
    }

    .customer-stories {
        padding-top: 0px;
    }

    .request-content {
        display: flex;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
    }

    .media-links h1 {
        font-size: 26px;
        color: rgb(255 255 255);
    }

    .request-trial-form h3 {
        font-size: 22px;
        text-align: center;
    }

    .request-btn,
    .header-btn {
        border-radius: 0px;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .request-trial-form {
        padding: 20px 30px 20px 50px;
        width: 375px;
        margin: 0px auto;
    }

    .request-trial-form form {
        border: 2px solid rgb(41, 169, 225);
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 501px;
        width: 340px;
        margin: 22px 0px;
    }

    .why-choose-container {
        flex-direction: row;
    }

    .choose-item {
        width: 50%;
    }

    .left-info {
        padding: 30px;
    }

    .small-laptop img {
        width: 300px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: rgb(41, 169, 225);
        margin-top: 90px;
    }

    .sticky {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .header-area.transparent-header {
        padding-bottom: 0px;
    }

    .trusted-item img {
        width: 100%;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .search {
        background: none;
        border: none;
    }

    .social-icons i {
        margin-bottom: 10px;
    }

    .also-like-container {
        flex-direction: column;
    }

    .also-like-container img {
        width: 80%;
        height: 300px;
        margin: 10px auto;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {

        font-size: 18px;
    }

    .available img {
        width: 150px;
    }

    .side-menu {
        display: none;
    }

    section.product-top {
        padding-top: 50px;
    }

    .sec-heading h1 {
        font-size: 32px;
    }

    .sec-heading p {
        font-size: 18px;
    }

    .choose-item {

        padding: 8px;

    }

    section.team.overflow-hidden h4 {
        color: rgb(84, 89, 95);
        font-size: 18px;
    }

    .request-content {
        width: 100%;
        flex-direction: row;
    }
    .main-img img {
        width: 100%;
        margin-bottom: 10px;
    }
    .tab-main {
        margin-top: -120px;
    }
    .sub-heading {
        padding-top: 75px;
        padding-bottom: 5px;
    }
    .right-vision-img {
        width: 100px;
        height: 100px;
    }
    .brand img {
        width: 150px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    .nav-bar {
        padding: 0px 20px;
    }

    .info-video-area iframe {
        width: 100%;
        height: 198px;
        border-radius: 10px;
    }

    section.item-details.overflow-hidden.white-paper-detail-one {
        display: none;
    }

    .help-btn {
        width: 80px;
        bottom: 20px;
        right: 20px;
        padding: 5px;
        font-size: 16px;
    }

    .partners-heading h4 {

        font-size: 23px;
    }

    .white-paper-detail-two {
        display: block;
    }

    .contributors-info {
        margin: 0;
    }

    .about-us-vision-img img {
        width: 80px;
        height: 80px;
    }

    .event-details-timing h4 {
        font-size: 12px;
    }

    .event-details-timing h1 {

        font-size: 20px;
    }

    .pricing-heading h1 {
        font-size: 22px;
    }

    .event-details-one {
        display: none;
    }

    .calender {
        display: none;
    }

    .event-details-two {
        display: block;
    }

    .main-form-header {
        width: 100%;
    }

    .event-details-timing {
        height: 80px;
        width: 80px;

    }

    iframe.new-details-video {
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }

    .news-details h2 {
        font-size: 24px;
    }

    .contributor {
        width: 100%;
    }

    .media-links {

        margin: 15px 0px;
    }

    .pricing-heading h4 {
        color: rgb(72, 167, 209);
        margin: 30px 0px;
        font-size: 18px;
    }

    .switch-btn {
        margin-left: 73px;
    }

    .request-content {
        width: 100%;

    }

    .request-trial-form form {
        width: 100%;
    }

    .customer-stories {
        padding-top: 0px;
    }

    main {
        position: static;
        height: 100%;
        margin-bottom: 0px;
    }

    .footer {
        position: relative;
        height: auto;
    }

    .trusted-item img {
        width: 50%;
        /* height: 85px; */
    }

    .trusted-item {
        text-align: center;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: rgb(41, 169, 225);
        margin-top: 70px;
        color: rgb(255, 255, 255);
        padding: 5px;
        height: 26px !important;
        width: 26px !important;
    }

    .choose-item {
        margin-bottom: 15px;
        width: 260px;
    }

    .small-laptop img {
        width: 115px;
    }

    .small-laptop {
        position: absolute;
        top: 40%;
        right: 0px;
        animation: 0s ease 0s 1 normal none running none;
    }

    .slider-hero img {
        display: none;
    }

    .left-info {
        margin-bottom: 30px;
    }

    .sec-heading h1 {
        width: 300px;
        font-size: 26px;
    }

    .logo img {
        margin-top: 20px;
    }

    .pricing-content {
        flex-direction: column;
    }

    .pricing-card {
        background: rgb(127, 203, 236);
        margin-bottom: 30px;
    }

    .left-analysis p {
        text-align: center;
        margin-top: 20px;
    }

    .left-analysis {
        margin: 20px 0px;
    }

    .right-analysis {
        margin: 20px 0px;
    }

    .left-analysis .analysis-heading {
        justify-content: center;
    }

    .right-analysis .analysis-heading {
        justify-content: center;
    }

    .right-analysis p {
        text-align: center;
        margin-top: 20px;
    }

    .sec-heading {
        margin: 0px;
        padding: 0px;
    }

    section.analysis {
        padding: 0px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link,
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-right: none;
    }

    .tab-main-body {
        margin-top: -185px;
    }

    .left-info h3 {
        margin-top: 20px;
        font-size: 22px;
    }

    button.brochure-btn {
        margin-bottom: 20px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        padding: 8px 13px;
    }

    section.our-media {
        padding-top: 75px;
    }

    .media-links h1 {
        font-size: 48px;
    }

    .sub-heading {
        padding-top: 120px;
    }

    .why-choose-container {
        flex-direction: column;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .search {
        background: none;
        border: none;
    }

    .sticky {
        padding: 0px;
    }

    .also-like-container img {
        width: 100%;
        margin-right: 5px;
        height: 120px;
        margin-bottom: 10px;
    }

    .also-like-container {
        flex-direction: column;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        font-size: 18px;
    }

    .sec-heading p {
        color: rgb(225 102 39);
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        padding: 0px 20px;
    }

    .trusted-action {
        padding: 10px;
    }

    .info p {
        font-size: 15px;
        line-height: 1.5;
        text-align: justify;
    }

    .right-stories p {
        font-size: 15px;
    }

    .sec-heading h1::after {
        width: 50px;
    }

    section.product-top {
        padding-top: 110px;
    }

    .product-top-left h2 {
        font-size: 32px;
    }

    .product-why-choose-right h5 {
        font-size: 18px;
    }

    .product-top-left p {
        font-size: 18px;
    }

    .product-why-choose-right {
        padding: 20px;
    }

    .product-carousel {
        margin-top: 40px;
    }

    .product-why-choose-right h2 {
        color: rgb(225, 102, 39);
        font-size: 32px;
    }

    .trusted-action h1 {
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
        font-size: 20px;
    }

    .stories-man {
        flex-direction: column;
    }

    .left-info {
        padding: 0px 0px;
    }

    button.hero-btn {
        margin-top: 20px;
    }

    section.team h1 {
        padding: 20px;
        font-size: 22px;
    }

    section.team.overflow-hidden a {
        padding: 20px;
    }

    section.info.overflow-hidden {
        padding: 20px 0px;
    }

    .trusted-container {
        margin-top: 30px;
    }

    img.intergrate-img {
        width: 60px;
        margin: 15px 0px;
    }

    .header-area.transparent-header {
        padding: 5px 0px;
    }

    .side-menu {
        display: none;
    }

    .common-btn {
        margin: 5px 0px;
    }

    .request-btn,
    .header-btn {
        border-radius: 0px;
    }

    .partners-brand {
        margin: 20px 0px;
        text-align: left;
    }

    .team {
        padding-top: 0px;
    }

    .tab-content p {
        font-size: 15px;
        color: rgb(84, 89, 95);
        margin-bottom: 0px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    .common-btn {
        font-size: 14px;
        width: 165px;
    }

    .pricing-card {
        border-radius: 30px;
        width: 290px;

    }

    .right-stories {
        padding: 10px;
    }

    .customer-optimize-content p {
        font-size: 15px;
        text-align: justify;
    }

    section.our-partners-page {
        padding-top: 100px;
    }

    .request-trial-form {
        padding: 0;
        width: 100%;
        margin: 0px auto;
    }

    .trial-form-heading h5 {

        font-size: 13px;

    }

    .request-trial-form h3 {
        font-size: 23px;
        padding-top: 20px;
    }

    .request-content {
        flex-direction: column;
    }

    img.blog-banner {
        height: 150px;
    }

    .main-img video {
        width: 100%;
    }

    .faqs {
        margin-top: -90px;
    }

    .request-content img {
        width: 150px;
        margin-bottom: 20px;
        border-radius: 50%;
    }

    img.white-paper-small-laptop {
        width: 300px;
    }

    .main-img img {
        width: 100%;
        margin-bottom: 10px;
    }

    .left-info h5 {
        color: #54595f;
        font-weight: 600;
        font-size: 20px;
    }
    .tab-main {
        margin-top: 60px;
    }
    section.customer-stories.product-stories.overflow-hidden {
        margin-top: -30px;
    }
    .zsiq_theme1.zsiq_floatmain {
        width: 60px;
        max-height: 60px;
        right: 15px;
        bottom: 15px;
    }
    .brand img {
        width: 150px;
    }

}

@media (max-width: 280px) {
    .sec-heading h1 {
        width: 260px;
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1023px) {
    .mean-container a.meanmenu-reveal {

        margin-top: -3px;

    }

    .request-btn,
    .header-btn {
        border-radius: 0px;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .header-area.transparent-header {
        padding-bottom: 15px;
    }

    .header-area.transparent-header {
        padding: 10px 0px;
    }

    .sticky {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mean-container .mean-nav {
        background: #0c1923 none repeat scroll 0 0;
        float: left;
        margin-top: 45px;
        width: 100%;
    }

    .request-trial-form {
        padding: 20px 30px 20px 50px;
        width: 485px;
        margin: 0px auto;
    }

    .request-trial-form form {
        border: 2px solid rgb(41, 169, 225);
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 501px;
        width: 400px;
        margin: 22px 0px;
    }

    .mean-container a.meanmenu-reveal {
        top: 5px;
        width: 22px;
    }

    .request-trial-form h3 {
        font-size: 22px;

    }

    .main-form-header {
        width: 100%;
    }

    .pricing-card {
        width: 300px;
        height: 540px;
    }

    .team {
        padding-top: 50px;
    }

    .common-btn {
        padding: 15px 20px;
        font-size: 14px;
    }

    .request-trial{
        display: none;
    }
    .request-trial-two {
        display: block;
        padding-top: 100px;
    }
}

@media (min-width: 1200px) and (max-width: 1441px) {
    .main-img .bigImg {
        width: 80%;
    }

    .small-laptop {
        top: 52%;
        right: -52px;
        animation-name: positionAnimate;
        animation-duration: 4s;
    }

    @keyframes positionAnimate {
        0% {
            top: 52%;
            right: -52px;
        }

        25% {
            top: 52%;
            right: -72px;
        }

        50% {
            top: 48%;
            right: -72px;
        }

        75% {
            top: 48%;
            right: -52px;
        }

        100% {
            top: 52%;
            right: -52px;
        }
    }

    .small-laptop img {
        width: 265px;
    }

    .side-menu img {
        height: 402px;
    }

    .side-menu {
        width: 125px;
        position: absolute;
        top: 43px;
        left: 225px;
        /* animation: none; */
    }

    .sec-heading h1 {
        font-size: 32px;
        padding: 10px 0px;
    }

    .video-container video {
        height: 274px;
        position: absolute;
        left: 166px;
        top: 65px;
        width: 816px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    img.bigImg {
        width: 100%;
    }

    section.Hero {

        height: 100%;
    }

    .side-menu {
        animation: none;
    }

    .small-laptop img {
        width: 300px;
    }

    .team {
        padding: 0px;
    }

    .sec-heading p {
        width: 800px;
        font-size: 16px;
        padding-top: 20px;
    }

    .sec-heading h1 {
        font-size: 28px;
        padding: 0;
    }

    .application-section {
        /* display: none; */
    }

    .main-menu ul li a {
        padding: 12px 8px;
        font-size: 16px;
    }

    .main-menu ul li {
        margin: 0px;
    }

    .pricing-card {
        width: 309px;
        height: 525px;
    }

    .pricing-card.p-card-3,
    .pricing-card.p-card-1 {
        height: 415px;
    }

    .pricing-heading h1 {
        font-size: 28px;
    }

    .pricing-heading h4 {
        margin: 30px 0px;
        font-size: 18px;
    }

    .customer-optimize-content h2 {
        font-size: 24px;
    }

    .customer-optimize-content h4 {
        font-size: 18px;
        margin: 10px 0px;
    }

    .header-area.transparent-header {
        padding-bottom: 20px;
    }

    .social-icons i {
        margin-bottom: 10px;
    }

    .choose-item {
        /* height: 270px; */
    }

    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 200px;
    }

    .also-like-container {
        flex-direction: column;
    }

    .also-like-container img {
        width: 80%;
        height: 300px;
        margin: 10px auto;
    }

    .left-info {
        padding: 20px 30px;
    }

    .small-laptop {
        position: absolute;
        top: 42%;
        right: 30px;
        animation: none;
        display: none;
    }

    .common-btn {
        padding: 20px 20px;
        font-size: 15px;
    }

    button.brochure-btn {
        font-size: 16px;
        padding: 10px 20px;

    }

    @keyframes positionAnimate {
        0% {
            top: 40%;
            right: 180px;
        }

        25% {
            top: 40%;
            right: 160px;
        }

        50% {
            top: 48%;
            right: 160px;
        }

        75% {
            top: 48%;
            right: 180px;
        }

        100% {
            top: 40%;
            right: 180px;
        }
    }

    .info p {
        font-size: 16px;
    }

    .left-info h3 {
        font-size: 22px;
    }

    section.Hero {
        padding-top: 64px;
    }

    section.info.overflow-hidden {
        padding: 0;
    }

    .side-menu {
        width: 120px;
        position: absolute;
        top: 45.5px;
        left: 110px;
    }

    .side-menu img {
        height: 420px;
    }

    .mean-container a.meanmenu-reveal {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .small-laptop {
        animation: 0s ease 0s 1 normal none running none;
        top: 39%;
        right: -70px;
    }

    .main-form-header {
        width: 100%;
    }

    .blog-banner {
        height: 250px;
        border-radius: 15px;
        margin: 30px 0px;
    }

    .item-details {
        margin: 20px 0px;
    }

    .request-content {
        display: flex;
        align-items: center;
        /* margin-top: 0px; */
        /* flex-direction: column; */
        /* flex-direction: column; */
    }

    .media-links h1 {
        font-size: 26px;
        color: rgb(255 255 255);
    }

    .request-trial-form h3 {
        font-size: 23px;
        text-align: center;
        font-weight: 600;
    }

    .request-btn,
    .header-btn {
        border-radius: 0px;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .request-trial-form {
        padding: 20px 30px 20px 50px;
        /* width: 430px; */
        margin: 0px auto;
    }

    .request-trial-form form {
        border: 2px solid rgb(41, 169, 225);
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 501px;
        width: 301px;
        margin: 22px 0px;
    }

    .why-choose-container {
        /* flex-direction: column; */
    }

    .choose-item {
        width: 50%;
    }

    .left-info {
        padding: 30px;
    }

    .small-laptop img {
        width: 230px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: rgb(41, 169, 225);
        margin-top: 185px;
    }

    .sticky {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .header-area.transparent-header {
        padding-bottom: 0px;
    }

    .trusted-item img {
        width: 100%;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .search {
        background: none;
        border: none;
    }

    .social-icons i {
        margin-bottom: 10px;
    }

    .also-like-container {
        flex-direction: row;
    }

    .also-like-container img {
        width: 12%;
        height: 75px;
        margin: 10px auto;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {

        font-size: 18px;
    }

    .available img {
        width: 150px;
    }

    .side-menu {
        display: none;
    }

    section.product-top {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    .nav-bar {
        padding: 0px 20px;
    }

    .carousel-control-next,
    .carousel-control-prev {}

    main {
        position: static;
        height: 100%;
        margin-bottom: 0px;
    }

    .footer {
        position: relative;
        height: auto;
    }

    .trusted-item img {
        width: 50%;
        /* height: 85px; */
    }

    .trusted-item {
        text-align: center;
    }

    .carousel-control-next,
    .carousel-control-prev {
        background-color: rgb(41, 169, 225);
        margin-top: 100px;
        color: rgb(255, 255, 255);
        padding: 5px;
        height: 26px !important;
        width: 26px !important;
    }

    .choose-item {
        margin-bottom: 15px;
        width: 260px;
    }

    .small-laptop img {
        width: 115px;
        display: none;
    }

    .small-laptop {
        position: absolute;
        top: 40%;
        right: 0px;
        animation: 0s ease 0s 1 normal none running none;
    }

    .slider-hero img {
        display: none;
    }

    .left-info {
        margin-bottom: 30px;
    }

    .sec-heading h1 {
        width: 300px;
        font-size: 26px;
    }

    .logo img {
        margin-top: 20px;
    }

    .pricing-content {
        flex-direction: column;
    }

    .pricing-card {
        background: rgb(127, 203, 236);
        margin-bottom: 30px;
    }

    .left-analysis p {
        text-align: center;
        margin-top: 20px;
    }

    .left-analysis {
        margin: 20px 0px;
    }

    .right-analysis {
        margin: 20px 0px;
    }

    .left-analysis .analysis-heading {
        justify-content: center;
    }

    .right-analysis .analysis-heading {
        justify-content: center;
    }

    .right-analysis p {
        text-align: center;
        margin-top: 20px;
    }

    .sec-heading {
        margin: 0px;
        padding: 0px;
    }

    section.analysis {
        padding: 0px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link,
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-right: none;
    }

    .tab-main-body {
        margin-top: -185px;
    }

    .left-info h3 {
        margin-top: 20px;
        font-size: 22px;
    }

    button.brochure-btn {
        margin-bottom: 20px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        padding: 8px 13px;
    }

    section.our-media {
        padding-top: 75px;
    }

    .media-links h1 {
        font-size: 48px;
    }

    .sub-heading {
        padding-top: 100px;
    }

    .why-choose-container {
        flex-direction: column;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .search {
        background: none;
        border: none;
    }

    .sticky {
        padding: 0px;
    }

    .also-like-container img {
        width: 100%;
        margin-right: 5px;
        height: 120px;
        margin-bottom: 10px;
    }

    .also-like-container {
        flex-direction: column;
    }

    .entry-details ul li a i {

        margin: 5px 0px;
    }

    .owl-carousel .owl-item img {
        display: block;

    }

    .back-to-top {
        display: none;
    }

    i.down-icon {
        display: none;
    }

    .tab {
        /* margin-top: 610px; */
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        font-size: 18px;
    }

    .sec-heading p {
        color: rgb(225 102 39);
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        padding: 0px 20px;
    }

    .trusted-action {
        padding: 10px;
    }

    .info p {
        font-size: 15px;
        line-height: 1.5;
        text-align: justify;
    }

    .right-stories p {
        font-size: 15px;
    }

    .sec-heading h1::after {
        width: 50px;
    }

    section.product-top {
        padding-top: 110px;
    }

    .product-top-left h2 {
        font-size: 32px;
    }

    .product-why-choose-right h5 {
        font-size: 18px;
    }

    .product-top-left p {
        font-size: 18px;
    }

    .product-why-choose-right {
        padding: 20px;
    }

    .product-carousel {
        margin-top: 40px;
    }

    .product-why-choose-right h2 {
        color: rgb(225, 102, 39);
        font-size: 32px;
    }

    .trusted-action h1 {
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
        font-size: 20px;
    }

    .stories-man {
        flex-direction: column;
    }

    .left-info {
        padding: 0px 0px;
    }

    button.hero-btn {
        margin-top: 20px;
    }

    section.team h1 {
        padding: 20px;
        font-size: 22px;
    }

    section.team.overflow-hidden a {
        padding: 20px;
    }

    section.info.overflow-hidden {
        padding: 20px 0px;
    }

    .trusted-container {
        margin-top: 0px;
    }

    img.intergrate-img {
        width: 60px;
        margin: 15px 0px;
    }

    .header-area.transparent-header {
        padding: 5px 0px;
    }

    .side-menu {
        display: none;
    }

    .common-btn {
        margin: 5px 0px;
    }

    .request-btn,
    .header-btn {
        border-radius: 0px;
    }

    .partners-brand {
        margin: 20px 0px;
        text-align: left;
    }

    .team {
        padding-bottom: 20px;
    }

    .tab-content p {
        font-size: 15px;
        color: rgb(84, 89, 95);
        margin-bottom: 0px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    .common-btn {
        font-size: 14px;
        width: 155px;
    }

    .pricing-card {
        border-radius: 30px;
        width: 260px;
    }

    .right-stories {
        padding: 10px;
    }

    .customer-optimize-content p {
        font-size: 15px;
        text-align: justify;
    }

    section.our-partners-page {
        padding-top: 100px;
    }

    .request-trial-form {
        padding: 10px;
        width: 100%;
        margin: 0px auto;
    }

    .trial-form-heading h5 {

        font-size: 13px;

    }

    .request-trial-form h3 {
        font-size: 18px;
        padding-top: 20px;
    }

    .request-content {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .common-btn {
        padding: 15px 0px;
    }

    .video-container video {
        left: 76px;
        height: 200px;
        width: 259px;
        top: -16px;
        display: none;
    }

    .request-trial-two {
        display: block;
        padding-top: 100px;
    }

    .request-trial {
        display: none;
    }
}

@media (max-width: 280px) {
    .sec-heading h1 {
        width: 260px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) {

    .request-btn,
    .header-btn {
        border-radius: 0px;
    }

    .request-btn,
    .header-btn {
        border: none;
    }
}

@media (min-width: 992px) and (max-width: 1023px) {
    .mean-container a.meanmenu-reveal {

        margin-top: -3px;

    }

    .request-btn,
    .header-btn {
        border-radius: 0px;
    }

    .request-btn,
    .header-btn {
        border: none;
    }

    .header-area.transparent-header {
        padding-bottom: 15px;
    }

    .header-area.transparent-header {
        padding: 10px 0px;
    }

    .sticky {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mean-container .mean-nav {
        background: #0c1923 none repeat scroll 0 0;
        float: left;
        margin-top: 45px;
        width: 100%;
    }

    .request-trial-form {
        padding: 20px 30px 20px 50px;
        width: 485px;
        margin: 0px auto;
    }

    .request-trial-form form {
        border: 2px solid rgb(41, 169, 225);
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 501px;
        width: 400px;
        margin: 22px 0px;
    }

    .mean-container a.meanmenu-reveal {
        top: 5px;
        width: 22px;
    }

    .request-trial-form h3 {
        font-size: 22px;

    }

    .main-form-header {
        width: 100%;
    }

    .pricing-card {
        width: 300px;
        height: 540px;
    }

    .team {
        padding-top: 50px;
    }

    .common-btn {
        padding: 20px 20px;
        font-size: 14px;
    }

}

@media only screen and (min-width: 1400px) and (max-width: 1441px) {
    .side-menu img {
        height: 467px;
    }

    .sec-heading p {
        font-size: 20px;

    }

    .side-menu {
        width: 160px;
        position: absolute;
        top: 50px;
        left: 257px;
        animation: none;
        animation: 5s ease 0s normal none running widthAnimate;
    }

    .video-container video {
        height: 334px;
        position: absolute;
        left: 240px;
        top: 76px;
        width: 816px;
    }

    .small-laptop {
        top: 57%;
        right: -25px;
        animation: none;
    }

    @keyframes widthAnimate {
        0% {
            width: 160px;
            left: 257px;
        }

        50% {
            width: 0px;
            left: 257px;
        }

        100% {
            width: 160px;
            left: 257px;
        }
    }
}

@media screen and (max-width: 400px) {
    .tab-content {

        border-radius: 0px 0px 10px 10px;

    }
}
