:root {
  --bss-primary: #e16627;
  --bss-dark-muted: #54595f;
  --bss-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin-bottom: 0;
}